<nav class="navbar navbar-expand-lg navbar-light sticky-top bg-light shadow" id="main-nav">
  <div class="view-brand">
    <img src="../../../../assets/img/sharpgasLogo.png" class="logo-brand"/>
  </div>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 <ul class="navbar-nav px-3 ml-auto">
  <li class="nav-item text-nowrap">
    <div class="nav-view">
      <div class="nav-item-cart" routerLink="/onboarding/dashboard/cart">
        <i class="fa fa-shopping-cart icon icon-color-orange"></i>
        <span class="user-text">Cart</span>
        <span class="badge badge-dark">{{cartLength}}</span>
      </div>
      <div class="btn-group">
        <div class="user-dropdown">
          <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="nav-item-right">
              <div>
                <i class="fa fa-user icon icon-color-orange"></i>
                <span class="user-text">Abdulsalam</span>
                <i class="fas fa-chevron-circle-down dropdown-logo" >
                </i>
              </div>
            </div>
          </div>
          <div class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item" type="button">Action</button>
            <button class="dropdown-item" type="button">Another action</button>
            <button class="dropdown-item" type="button">Logout</button>
          </div>
        </div>
      </div>
    </div>
  </li>
 </ul>
</nav>

