.user-dropdown {
  margin-right: 2rem;
  .user-text {
    color: grey;
    font-size: 1rem;
    padding: 0 5px;
  }
}
.dropdown-logo {
  color: grey;
  margin: 0 5px;
}

.btn-user {
  border: 0;
}

.text-user {
  text-align: center;
  font-size: 1rem;
}
.icon {
  font-size: 20px;
  padding: 5px;
  color: orange;
}

.logo-brand {
  width: 5rem;
  height: 4.5rem;
  margin-bottom: 5px;
  margin-left: 4rem;
}
.navbar {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.nav-item-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .nav-item-cart {
    margin-right: 20px;

    span {
      // border-radius: 100%;
    }
  }
}
