

<app-header></app-header>
<app-sidebar>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Cart</h1>
  </div>
  <!-- Cart -->
  <div class="container">
    <div class='row'>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-3">
            <p  class="heading-text">Product</p>
          </div>
          <div class="col-md-3">
            <p class="heading-text">Price</p>
          </div>
          <div class="col-md-3">
            <p class="heading-text">Quantity</p>
          </div>
          <div class="col-md-3">
            <p class="heading-text">Total</p>
          </div>
        </div>
        <div class="product-view" *ngFor="let item of items">
          <div *ngIf="!item.id">
            <p>Theres nothing in your cart! Add a product to update cart.
          </div>
          <!-- item-one -->
          <div class='row product-details' *ngIf="item.id">
            <div class="col-md-3 product-item">
              <div class="row">
                <div class="col-md-5">
                  <img class="image" [src]="item.imgUrl" alt="image-shoe"/>
                </div>
                <div class="col-md-7 mt-2">
                  <p class='text-product'>{{item.name}}</p>
                  <p style="font-size:13px;">{{item.id}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 product-item">
              <p class="mt-3">{{currencyFormat(item.price)}}</p>
            </div>
            <div class="col-md-3 mt-2">
              <button class="btn btn-default button-minus" (click)="onButtonClickMinus(item.id)">-</button>
              <span>{{item.quantity}}</span>
              <button class="btn btn-default button-plus" (click)="onButtonClickPlus(item.id)">+</button>
            </div>
            <div class="col-md-3 product-item">
              <p class="mt-3">{{currencyFormat(item.total)}}</p>
            </div>
          </div>
          <!-- next item -->

          <!-- next item end -->
        </div>
      </div>
      <div class="col-md-3">
        <p class="heading-text">Order Summary</p>
        <div class="summary-view">
          <div class="row">
            <div class="col-md-6">
              <p>Number of Item(s)</p>
            </div>
            <div class="col-md-6">
              <p> {{getNumberOfItems()}} </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mt-3">
              <p>Total Price </p>
              <span>{{getTotalPrice()}}</span>
            </div>
            <div class="col-md-6 mt-4">
              <button class='btn button-checkout'>Checkout</button>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</app-sidebar>
