$base-color: #448081;

.main-container {
  padding: 2.5rem 3rem;
}

.image-gas {
  background: url("../../../../assets/img/cookinggas2.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 87vh;
}
.right-view {
  background: linear-gradient(0deg, #ebedf5, rgba(235, 237, 245, 0));
}

.nav {
  display: flex;
  justify-content: space-even;
}
.logo {
  width: 80px;
  height: 80px;
}
.container-right {
  padding: 2rem 3rem;
}

#submit {
  background-color: $base-color;
  color: #fff;
  text-justify: auto;
}

.form-group {
  padding: 10px;
}

.field-icon {
  float: right;
  margin-right: 17px;
  margin-top: -28px;
  position: relative;
  z-index: 2;
  color: #555;
}

.sharpgas-logo-view {
  padding: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
}
.sharpgas-logo {
  background: url(./../../../../assets/img/sharpgasLogo.png) center;
  width: 100px;
  height: 100px;
}

.text-welcome {
  font-size: 35px;
  text-align: center;
  padding: 10px;
}

.form-submit {
  border: 0;
  width: 120px;
  height: 35px;
  margin: auto;
}

.home-text {
  padding-left: 5px;
}

.user-circle-view {
  text-align: center;
  padding: 10px;
  .user-circle {
    font-size: 70px;
    color: $base-color;
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .image-gas {
    display: none;
  }
}
// }
@media screen and (min-width: 768px) {
  .image-gas {
    background: url("../../../../assets/img/cookinggas2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 87vh;
  }
}
