
    <header class="header container-fluid">
      <div class="container">

        <nav class="nav navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand mr-auto" href="#">
            <img
              src="../../../assets/img/sharpgasLogo.png"
              alt="Logo"
              class="logo"
            />
          </a>
          <button
            id="button-toggle"
            class="navbar-toggler toggle"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a
                class="link-style"
                [routerLink]="['/onboarding/login']"
                href="javascript:void(0)"
                ><span class="pd-l-r"><i class="fas fa-sign-in-alt"></i></span
                >Login</a
              >
              <a
                class="link-style"
                [routerLink]="['/onboarding/sign-up']"
                href="javascript:void(0)"
              >
                <span class="pd-l-r"><i class="fas fa-user-plus"></i></span
                >Signup</a
              >
            </div>
          </div>
        </nav>
        <div>
          <div class="row">
            <div class="col-md-6">
              <div class="text-box">
                <div>
                  <h1 class="heading-primary">
                    <span class="heading-primary-main">SHARP GAS</span>
                    <span class="heading-primary-sub"
                      >A smart gas for every household!!</span
                    >
                  </h1>
                  <div class="btn-view">
                    <a href="#" class="btns btns-white btn-animated pd-l-r"
                      ><span class="pd-l-r"
                        ><i class="fab icon-store fa-app-store"></i></span
                      ><span>Apple Store</span></a
                    >
                    <a href="#" class="btns btns-white btn-animated"
                      ><span class="pd-l-r"
                        ><i class="fab icon-store fa-google-play"></i></span
                      ><span>Play Store</span></a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 gas-image" >

            </div>
          </div>
        </div>
      </div>

    </header>

    <main>
      <section>


      </section>

      <section>



      </section>


    </main>
    <footer class="container">
      <div class="row">
        <div class="col-md-3">
          <h6>Follow Us</h6>
          <div class="row">
            <div class="col-md-2">
              <a href=""><i class="fab fa-twitter social-links"></i></a>
            </div>
            <div class="col-md-2">
              <a href=""><i class="fab fa-facebook social-links"></i></a>
            </div>
            <div class="col-md-2">
              <a href=""><i class="fab fa-instagram social-links"></i></a>
            </div>
            <div class="col-md-2">
              <a href=""><i class="fab fa-linkedin social-links"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h6>Contact Us</h6>
          <div>
            <i class="fas fa-phone"></i
            ><span class="pd-l-r"> +2341234566676</span>
          </div>
        </div>
        <div class="col-md-3">
          <h6>Location</h6>
          <div>
            <i class="fas fa-map-marker-alt"></i
            ><span class="pd-l-r"
              >56, Idirikuku road, Abesan, Lagos, Nigeria</span
            >
          </div>
        </div>
        <div class="col-md-3">
          <h6>Copyright</h6>
          <div>
            <span> Copyright of sharpgas &copy; 2020 </span>
          </div>
        </div>
      </div>
    </footer>
