<app-header></app-header>
<app-sidebar>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">My Gas</h1>

  </div>
  <!-- My Gas -->
  <div>
    <h2>Welcome Abdulsalam!</h2>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-7 card-dash">
              <h2 class="heading">Gas Level Indicator</h2>
              <div class="gas-cylinder">
                <div class="row">
                  <div class="col-md-7 ml-2">
                    <div class="top-cap"></div>
                    <div class="top">
                      <div class="cap"></div>
                    </div>
                    <div class="cylinder">

                    </div>
                    <div class="base"></div>
                  </div>
                  <div class="col-md-4 m-auto">
                    <div class="p-2">
                      <div class="gas-detail">
                        <span><i class="fas fa-stop-circle icon-color-green"></i> Current Gas Level</span>
                        <p>50%</p>
                      </div>
                      <div class="gas-detail">
                        <span><i class="fas fa-stop-circle icon-color-orange"></i> Initial Gas Level</span>
                        <p>10kg</p>
                      </div>
                      <div>
                        <a routerLink="/onboarding/dashboard/buy-gas" class="route"><h3>Click here now to order your gas</h3></a>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>
            <div class="col-md-4">
              <div class="recent-activities">
                <h2 class="pl-3">Recent Activities</h2>
                <div>
                  <p>Ordered 20kg Gas <span>on 10.12.2021</span></p>
                  <p>Ordered 20kg Gas <span>on 10.12.2021</span></p>
                  <p>Ordered 20kg Gas <span>on 10.12.2021</span></p>
                  <p>Ordered 20kg Gas <span>on 10.12.2021</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">


      </div>
    </div>
  </div>

</app-sidebar>

<router-outlet></router-outlet>
